body{
	background:linear-gradient(white,teal); 
}

.r{
  padding: 20px; 
  width: 250px;
  height: 200px;
  border-radius: 25px;
  border: 2px solid white;  
}

.edit{
	background-color: gray;
}

.head{
	text-align: center;
	text-decoration-line: underline;
}
h4{
	font-size:20;
}
form{
	border:1px solid white;
	width:20px;
}

.f{
	background-color: white;
	color:black;
}

.rf{
	margin-top:200px;
	padding: 20px; 
  width: 250px;
  height: 250px;
  border-radius: 35px;
  border: 2px solid white;
}
